body {
    margin: 0px;
    padding: 0;
}

header {
    display: flex;
    background-color: #ffa500;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    
    a {
        text-decoration: none;
        font-weight: bold;
    }
    
    div {
        margin: 20px;
    }
}

a:hover {
    color: #0cec9a;
    text-decoration: underline;
}

main {
    margin-top: 100px;
    max-width: 1070px;
    
    p {
        font-size: 18px;
        margin-bottom: 50px;
    }
}

footer {
    display: flex;
    background-color: #afafaf;
    width: 100%;
}

button {
    display: block;
    color: #ffffff;
    background-color: #373af5;
    position: relative;
    top: 160px;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    opacity: 0.5;
    width: 80px;
}

.left { 
    display: flex;
}

.heading {
    display: flex;
    margin: 20px 0;
}

.test {
    display: flex;
    justify-content: space-between;
}

.spans {
    display: flex;
    justify-content:space-around;
}

.special {
    margin: 30px 0 50px 0;
}

.rows {
    display: flex;
    margin: 0 auto;
    width: 55%; 
    
    div {
        margin: 30px 0;
    }
    
    a {
        display: block;
        margin: 30px 90px 10px 0;
        text-decoration: none;
        color: #000000;
    }
}

@media screen and (max-width: 1075px) {
    main div {
        padding: 50px;
    }
}

@media screen and (max-width: 1075px) {
    .rows {
        max-width: 100%;
        flex-direction: column;
    }

    .test {
        flex-direction: column;
    }
}